* {
    box-sizing: border-box;
}

button,
a {
    color: inherit;
}

:root {
    @extend .light;

    --primary: 33, 150, 243;
    --text-on-primary: 255, 255, 255;

    --error-text: 255, 0, 0;

    --reading-background: 0, 0, 0;

    --primary-button: var(--primary);
    --primary-button-text: var(--text-on-primary);

    --border-radius-small: 0.25rem;
    --border-radius-large: 0.5rem;

    --transition-time: 200ms;
    --body-margins: 0.75rem;

    --bp-small: 500px;
    --bp-medium: 1000px;
    --bp-large: 1500px;
}

@media (prefers-color-scheme: dark) {
    :root {
        @extend .dark;
    }
}

.light {
    --surface: 255, 255, 255;
    --surface-hover: 34, 34, 34, 0.3;
    --text-on-surface: 34, 34, 34;
    --surface-box-shadow: 0 0 0.25rem #00000050;

    --background: 240, 240, 240;
    --text-on-background: 0, 0, 0;
    --light-text: 170, 170, 170;

    /* Buttons */
    --default-button: 200, 200, 200;
    --default-button-text: 0, 0, 0;
}

.dark {
    --surface: 60, 60, 60;
    --surface-hover: 200, 200, 200, 0.3;
    --text-on-surface: 230, 230, 230;
    --surface-box-shadow: none;

    --background: 0, 0, 0;
    --text-on-background: 230, 230, 230;
    --light-text: 150, 150, 150;

    /* Buttons */
    --default-button: 100, 100, 100;
    --default-button-text: 255, 255, 255;
}
