.reader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: black;
    overflow-y: auto;
}
.reader.menuOpen {
    z-index: 0;
}

.pageList {
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    height: 100%;
    top: 0;
    bottom: 0;
}

.rtl .pageList {
    direction: rtl;
}
.page {
    display: inline-block;
    width: 100vw;
    scroll-snap-align: center;
    text-align: center;
    height: 100%;
    background-color: black;
}
.page img {
    display: inline;
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}
.page.twoPage img {
    width: 50%;
}

.page.previous,
.page.current,
.page.next {
    position: absolute;
    top: 0;
    left: 0;
}
.page.previous {
    clip-path: inset(0 50% 0 0);
}
.turningLeft .page.previous {
    clip-path: none;
}
.turningRight .page.previous {
    display: none;
}
.page.next {
    clip-path: inset(0 0 0 50%);
}
.turningLeft .page.next {
    display: none;
}
.turningRight .page.next {
    clip-path: none;
}

.rtl .page.previous {
    clip-path: inset(0 0 0 50%);
}
.rtl .turningLeft .page.previous {
    display: none;
}
.rtl .turningRight .page.previous {
    display: block;
    clip-path: none;
}
.rtl .page.next {
    clip-path: inset(0 50% 0 0);
}
.rtl .turningLeft .page.next {
    display: block;
    clip-path: none;
}
.rtl .turningRight .page.next {
    display: none;
}

.page.current {
    transform: translateX(calc(var(--offset, 0)));
    transition: transform 200ms;
    z-index: 1;
}

.moving .page.current {
    transition: none;
}

.twoPage img:nth-child(1) {
    object-position: 100% 50%;
}
.twoPage img:nth-child(2) {
    object-position: 0% 50%;
}

.rtl .twoPage img:nth-child(1) {
    object-position: 0% 50%;
}
.rtl .twoPage img:nth-child(2) {
    object-position: 100% 50%;
}

.direction {
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 30px;
    color: white;
    z-index: 2;
}
.direction path {
    fill: black;
    stroke: white;
    stroke-width: 1px;
}
.rtl .direction {
    transform: translate(-50%, -50%) rotate(180deg);
}

.longStrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.longStripPage {
    width: calc(9 / 16 * 100vh);
    max-width: 100%;
    aspect-ratio: calc(var(--width) / var(--height));
}
