.reader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: black;
    overflow-y: auto;
}
.reader.menuOpen {
    z-index: 0;
}

.pageList {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    height: 100%;
    top: 0;
    bottom: 0;
}

.rtl .pageList {
    direction: rtl;
}
.page {
    display: inline-block;
    width: 100vw;
    scroll-snap-align: center;
    text-align: center;
    height: 100%;
}
.page img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.page.twoPage img {
    width: 50%;
}

.twoPage img:nth-child(1) {
    object-position: 100% 50%;
}
.twoPage img:nth-child(2) {
    object-position: 0% 50%;
}

.rtl .twoPage img:nth-child(1) {
    object-position: 0% 50%;
}
.rtl .twoPage img:nth-child(2) {
    object-position: 100% 50%;
}

.direction {
    position: fixed;
    right: 2px;
    bottom: 2px;
    width: 30px;
    color: white;
}
.direction path {
    fill: black;
    stroke: white;
    stroke-width: 1px;
}
.rtl .direction {
    transform: translate(-50%, -50%) rotate(180deg);
}

.longStrip {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.longStripPage {
    width: calc(9 / 16 * 100vh);
    max-width: 100%;
}

.longStripPage.loading {
    min-height: 101vh;
}
