.seriesRow {
    display: grid;
    grid-template-areas: 
        "title more"
        "cards cards";
    margin: 1em 0;
}
.title {
    grid-area: title;
    margin-top: 0;
}
.more{
    grid-area: more;
    justify-self: end;
}
.cards {
    grid-area: cards;
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-y: hidden;
    overflow-x: auto;
}

.cards > * {
    width: 180px !important;
    flex-shrink: 0;
}
