.page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--reading-background));
    z-index: 200;
}

.page.menuOpen {
    z-index: 0;
}

.page.rtl {
    direction: rtl;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    padding-bottom: 55px;
    direction: ltr;
    background-color: #000000c0;
}

/* .overlay::before {
    display: block;
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: #000000c0;
} */

.page.menuOpen .overlay {
    display: block;
}

.slider {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slider .range {
    width: 100%;
}
.rtl .slider .range {
    direction: rtl;
}
.slider .number {
    width: 100%;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.twoPage .image {
    width: 50%;
}
.twoPage .image:nth-child(1) {
    object-position: 100% 50%;
}
.twoPage .image:nth-child(2) {
    object-position: 0% 50%;
}

.twoPage.rtl .image:nth-child(1) {
    object-position: 0% 50%;
}
.twoPage.rtl .image:nth-child(2) {
    object-position: 100% 50%;
}

.direction {
    position: fixed;
    right: 2px;
    bottom: 2px;
    transform: translate(-50%, -50%);
    /* width: 100px; */
    width: 30px;
}
.direction path {
    fill: black;
    stroke: white;
    stroke-width: 1px;
}
.rtl .direction {
    transform: translate(-50%, -50%) rotate(180deg);
}

@media screen and (min-width: 500px) {
    .overlay {
        padding-top: 48px;
        padding-bottom: 0;
    }
}
