.page {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--reading-background));
    z-index: 200;
}

.page.menuOpen {
    z-index: 0;
}

.page.rtl {
    direction: rtl;
}

.overlay {
    display: none;
    content: ' ';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    background-color: #000000c0;
    padding-bottom: 55px;
    direction: ltr;
}
.page.menuOpen .overlay {
    display: block;
}

.slider {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slider .range {
    width: 100%;
}
.rtl .slider .range {
    direction: rtl;
}
.slider .number {
    width: 100%;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.twoPage .image {
    width: 50%;
}
.twoPage .image:nth-child(1) {
    object-position: 100% 50%;
}
.twoPage .image:nth-child(2) {
    object-position: 0% 50%;
}

.twoPage.rtl .image:nth-child(1) {
    object-position: 0% 50%;
}
.twoPage.rtl .image:nth-child(2) {
    object-position: 100% 50%;
}

.direction {
    position: fixed;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
    width: 100px;

    opacity: 0%;

    animation-name: fade-out;
    animation-duration: 4s;
}
@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    85% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
.direction path {
    fill: rgb(var(--primary));
}
.rtl .direction {
    transform: translate(-50%, -50%) rotate(180deg);
}

@media screen and (min-width: 500px) {
    .overlay {
        padding-top: 48px;
        padding-bottom: 0;
    }
}
