.settings {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.settings > section > h3 {
    font-size: var(--font-size-medium);
    margin: 1rem 0;
}

.settings > section > :not(h3) {
    margin: 0.5rem 0;
    width: 100%;
}

.settings > section > button,
.settings > section > a {
    display: block;
}

.buildVersion {
    color: rgba(var(--text-on-background), 50%);
}
