.pageList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.spread {
    display: flex;
    background-color: rgb(var(--background));
    color: rgb(var(--on-background));
    box-shadow: var(--surface-box-shadow);
    border-radius: var(--border-radius-small);
    padding: 5px;
}

.rtl .spread {
    direction: rtl;
}
.rtl .spread > * {
    direction: ltr;
}

.page {
    flex-grow: 1;
}

.page:nth-child(1) .index {
    float: left;
}
.page:nth-child(2) .index {
    float: right;
}
.page:nth-child(1) img {
    object-position: right;
}
.page:nth-child(1):last-child img {
    object-position: center;
}
.page:nth-child(2) img {
    object-position: left;
}

.rtl .page:nth-child(1) .index {
    float: right;
}
.rtl .page:nth-child(2) .index {
    float: left;
}
.rtl .page:nth-child(1) img {
    object-position: left;
}
.rtl .page:nth-child(1):last-child img {
    object-position: center;
}
.rtl .page:nth-child(2) img {
    object-position: right;
}

.page img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.pageTypeSelect {
    width: 100%;
}
