.buttonGroup {
    display: flex;
    margin: 5px 0;
    gap: 5px;
}

.button {
    background-color: rgb(var(--default-button));
    color: rgba(var(--default-button-text), 0.85);
    font-size: inherit;
    padding: 5px 10px;
    border: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--border-radius-small);
}

.button:hover:not(.disabled) {
    color: rgba(var(--default-button-text), 1);
}

.disabled {
    filter: contrast(50%);
    cursor: not-allowed;
}

.button.primary {
    background-color: rgb(var(--primary-button));
    color: rgba(var(--primary-button-text), 0.85);
}

.button.primary:hover:not(.disabled) {
    color: rgba(var(--primary-button-text), 1);
}

.button.clear {
    background: none;
    color: inherit;
}

.button.clear:hover:not(.disabled) {
    background-color: rgba(var(--default-button), 0.5);
}
