.buttonGroup {
    display: flex;
    margin: 0.25rem 0;
    gap: 0.25rem;
}

.button {
    --button-background-opacity: 0.85;
    --button-background-color: var(--default-button);
    --button-text-opacity: 0.85;
    --button-text-color: var(--default-button-text);

    background-color: rgba(
        var(--button-background-color),
        var(--button-background-opacity)
    );
    color: rgba(var(--button-text-color), var(--button-text-opacity));
    font-size: inherit;
    padding: 0.25rem 0.75rem;
    border: none;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--border-radius-small);
    text-align: center;
}

.button:focus-visible {
    outline: rgba(var(--text-on-background), 0.85) solid 0.125rem;
}

.button:focus,
.button:hover:not(.disabled) {
    color: rgba(var(--button-text-color), 1);
}

.disabled {
    filter: contrast(50%);
    cursor: not-allowed;
}

.button.primary {
    --button-background-color: var(--primary-button);
    --button-text-color: var(--text-on-primary);
}

.button.clear {
    background: none;
    color: inherit;
}

.button.clear:hover:not(.disabled) {
    background-color: rgba(var(--default-button), 0.5);
}

.alignRight {
    justify-content: end;
}

.icon {
    transform: translate(0em, 0.1em);
}

.icon:not(:last-child) {
    background-color: red;
}
