.book {
    position: relative;
    overflow: hidden;
    contain: strict;
    width: 100%;
    height: 100%;
}
.book a {
    display: grid;
    grid-template-areas:
        'cover    cover'
        'title    menu'
        'subtitle menu';
    grid-template-rows: auto 1.2em 1.2em;
    color: inherit;
    text-decoration: inherit;
    height: 100%;
}

.cover {
    grid-area: cover;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: lightgrey;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    contain: size;
}

.title,
.subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title {
    grid-area: title;
}
.subtitle {
    grid-area: subtitle;
    color: rgb(var(--light-text));
}

.menu {
    grid-area: menu;
    float: right;
    background: none;
    border: none;
    cursor: pointer;
    height: 45px;
}

.placeholder * {
    color: rgba(0, 0, 0, 0);
}

.placeholder .title,
.placeholder .subtitle {
    background-color: lightgrey;
    margin-top: 3px;
}
.placeholder .title {
    margin-right: 30%;
}
.placeholder .subtitle {
    margin-right: 50%;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.progress {
    position: absolute;
    bottom: 2.4em;
    left: 0px;
    right: 0px;
    height: 7px;
    background-color: rgb(var(--primary));
    transform: translate(calc(-100% + var(--progress) * 100%));
}

@property --download-progress {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.downloaded {
    position: absolute;
    top: calc(250px - 25px - 10px);
    right: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 2px;

    background: conic-gradient(
        white 0deg,
        white calc(var(--download-progress) * 360deg),
        grey calc(var(--download-progress) * 360deg),
        grey 360deg
    );

    transition: --download-progress 1s;
}

.cardList {
    --padding: var(--body-margins);
    overflow: hidden;
    position: relative;
    margin: 0 calc(var(--padding) * -1);
}

.scroller {
    padding: 0 var(--padding);
    display: flex;
    flex-direction: row;
    gap: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    /* height: 300px; */
    height: calc((100vh - 52.391px) / 2 - (3.17em + 15px));
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

.scroller > * {
    width: 180px;
    flex-shrink: 0;
}
.next,
.previous {
    background: none;
    border: none;
}
.end .next {
    opacity: 0.5;
}
.start .previous {
    opacity: 0.5;
}

.header {
    margin: 0 var(--padding);
    display: flex;
}

.title {
    flex-grow: 1;
}
.title a {
    all: unset;
    display: flex;
    align-self: center;
    cursor: pointer;
}
.titleLinkIcon {
    color: rgb(var(--light-text));
}

.vertical .scroller {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    overflow-x: hidden;
}
.vertical .scroller > * {
    width: unset;
    flex-shrink: unset;
}
.vertical .next,
.vertical .previous {
    display: none;
}

@media screen and (min-width: 1000px) {
    .scroller {
        height: unset;
    }
    .book {
        height: 300px;
    }
    .cardList:not(.horizontal) {
        @extend .vertical;
    }
}
@media screen and (min-height: 785px) and (max-width: 500px) {
    .scroller {
        height: 300px;
    }
}
@media (pointer: coarse) {
    .next,
    .previous {
        display: none;
    }
}
