.book {
    contain: strict;
    width: 100%;
    height: 300px;
}
.book a {
    color: inherit;
    text-decoration: inherit;
}

.cover {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-color: lightgrey;
}

.title,
.subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.subtitle {
    color: rgb(var(--light-text));
}

.menu {
    float: right;
}

.placeholder * {
    color: rgba(0, 0, 0, 0);
}

.placeholder .title,
.placeholder .subtitle {
    background-color: lightgrey;
    margin-top: 3px;
}
.placeholder .title {
    margin-right: 30%;
}
.placeholder .subtitle {
    margin-right: 50%;
}

.disabled {
    opacity: 0.5;
}
