.card {
    position: relative;
    overflow: hidden;
    contain: strict;
    width: 100%;
    height: 100%;
}
.card a {
    display: grid;
    grid-template-areas:
        'cover    cover'
        'title    menu'
        'subtitle menu';
    grid-template-rows: 1fr auto auto;
    grid-template-columns: 1fr auto;
    color: inherit;
    text-decoration: inherit;
    height: 100%;
}

.card a:focus-visible {
    background-color: rgba(var(--text-on-background), 0.1);
    border-radius: var(--border-radius-large);
}

.cover {
    grid-area: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-large);
    overflow: hidden;
    background-color: lightgrey;
}

.cover > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    contain: size;
    z-index: 1;
}
.cover > img[alt]::after {
    display: flex;
    content: attr(alt);
    position: absolute;
    font-family: 'Helvetica';

    inset: 0;
    padding: 0.25rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.title,
.subtitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.title {
    grid-area: title;
    margin-top: 0.25rem;
}
.subtitle {
    grid-area: subtitle;
    color: rgb(var(--light-text));
    margin-top: 0.5rem;
}

.menu {
    grid-area: menu;
    background: none;
    border: none;
    cursor: pointer;
    height: 2.5rem;
    text-align: right;
    padding: 0;
}

.menu:focus-visible {
    background-color: rgba(var(--text-on-background), 0.1);
    border-radius: var(--border-radius-small);
}

.placeholder * {
    color: rgba(0, 0, 0, 0);
}

.placeholder .title,
.placeholder .subtitle {
    background-color: lightgrey;
    border-radius: 9999px;
}
.placeholder .title {
    margin-right: 30%;
}
.placeholder .subtitle {
    margin-right: 50%;
}

.placeholder .title,
.placeholder .subtitle,
.placeholder .cover {
    mask: linear-gradient(-60deg, #000 40%, #0005, #000 60%) right/350% 100%;
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    100% {
        mask-position: left;
    }
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-color: rgb(var(--primary));
    transform: translate(calc(-100% + var(--progress) * 100%));
}

@property --download-progress {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

.downloaded {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    padding: 0.125rem;

    background: conic-gradient(
        white 0deg,
        white calc(var(--download-progress) * 360deg),
        grey calc(var(--download-progress) * 360deg),
        grey 360deg
    );

    transition: --download-progress 1s;
}

.cardList {
    --padding: var(--body-margins);
    overflow: hidden;
    position: relative;
    margin: 2rem calc(var(--padding) * -1);
}

.cardList .listTitle {
    margin: 0;
}

.scroller {
    --card-height: 18.75rem;
    --card-aspect-ratio: calc(3 / 5);

    padding: 0 var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-y: hidden;
    overflow-x: auto;
    height: var(--card-height);
    min-height: 13rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroller::-webkit-scrollbar {
    display: none;
}

.scroller > * {
    min-width: 7.8125rem;
    width: calc(var(--card-height) * var(--card-aspect-ratio));
    flex-shrink: 0;
}
.next,
.previous {
    background: none;
    border: none;
    height: 20px;
}
.next svg,
.previous svg {
    transform: translateY(-2px);
}
.end .next {
    opacity: 0.5;
}
.start .previous {
    opacity: 0.5;
}
.start.end .previous,
.start.end .next {
    display: none;
}

.header {
    margin: 0 var(--padding) 1rem var(--padding);
    display: flex;
    align-items: center;
}

.listTitle {
    flex-grow: 1;
    font-size: var(--font-size-medium);
    align-items: center;
}
.listTitle a {
    all: unset;
    display: flex;
    align-self: center;
    cursor: pointer;
}
.titleLinkIcon {
    color: rgb(var(--light-text));
}

.vertical .scroller {
    height: unset;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    overflow-x: hidden;
}
.vertical .scroller > * {
    width: unset;
    flex-shrink: unset;
}
.vertical .card {
    height: 18.75rem;
}
.vertical .next,
.vertical .previous {
    display: none;
}

@media (min-width: 1000px) {
    .cardList:not(.horizontal) {
        @extend .vertical;
    }
}

@media (pointer: coarse) {
    .next,
    .previous {
        display: none;
    }
}
