.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 171;
    margin-bottom: 65px;
    max-height: calc(100dvh - env(keyboard-inset-height, 0));
}

.modal {
    background-color: rgb(var(--surface));
    box-shadow: var(--surface-box-shadow);
    max-width: 100vw;
}

.head {
    padding: 20px;
    margin: 0;
}
.close {
    float: right;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
}

.body {
    padding: 0 20px;
    max-height: calc(100vh - 290px);
    overflow-y: auto;
}
.foot {
    padding: 20px;
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 170;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalOpen {
    overflow: hidden;
}

@media screen and (min-width: 500px) {
    .popup {
        left: 50%;
        transform: translate(-50%, 0);
        overflow: hidden;
        width: 90%;
        max-height: 100%;
        margin-top: 58px;
        margin-bottom: 10px;
    }

    .modal {
        border-radius: var(--border-radius-small);
    }
}

@media (prefers-color-scheme: dark) {
    .close {
        filter: invert(1);
    }
}
