.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 71;
}

.modal {
    background-color: rgb(var(--surface));
    box-shadow: var(--surface-box-shadow);
    width: 400px;
    max-width: 100%;
    padding: 20px;
    max-height: 90vh;
    overflow-y: auto;
}

.head {
}
.body {
}

.screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 70;
    background-color: rgba(0, 0, 0, 0.5);
}
