.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    direction: ltr;
    background-color: #000000c0;
    padding: 5px;
}

.content {
    position: absolute;
    inset: var(--body-margins);
    margin-bottom: calc(var(--nav-height) + var(--body-margins));
    pointer-events: none;
}

.content > * {
    pointer-events: initial;
}

.overlay.open {
    display: block;
}

.sidebar {
    background-color: rgba(var(--surface), 0.75);
    color: rgb(var(--text-on-surface));
    box-shadow: var(--surface-box-shadow);
    backdrop-filter: blur(10px);
    padding: 0.5rem;
    border-radius: var(--border-radius-large);
    width: 250px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    padding: 0.75rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.sidebar li a {
    display: inline;
}

.slider {
    grid-area: slider;
    display: flex;
    position: absolute;
    bottom: 0.75rem;
    width: 100%;
}

.slider .range {
    --percent: calc(var(--value) / var(--max) * 100%);

    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    position: relative;
    width: 100%;
    margin-right: var(--body-margins);
}
.range::before {
    position: absolute;
    display: block;
    content: ' ';
    background-color: #fff;
    top: 50%;
    left: 0;
    right: 0;
    height: 0.5rem;
    transform: translateY(-50%);
    z-index: -1;
    border-radius: 9999px;
    background: linear-gradient(
        to right,
        rgb(var(--primary)) 0%,
        rgb(var(--primary)) var(--percent),
        #fff var(--percent),
        #fff 100%
    );
}
.rtl .slider .range {
    direction: rtl;
}
.rtl .slider .range::before {
    background: linear-gradient(
        to left,
        rgb(var(--primary)) 0%,
        rgb(var(--primary)) var(--percent),
        #fff var(--percent),
        #fff 100%
    );
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(var(--primary));
    cursor: pointer;
    border-radius: 50%;
}
.range::-moz-range-thumb {
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(var(--primary));
    cursor: pointer;
    border-radius: 50%;
}

.slider .number {
    width: 4.5rem;
    background-color: rgb(var(--surface));
    color: rgb(var(--text-on-surface));
    padding: 0.125rem 0.25rem;
    border-radius: var(--border-radius-small);
}
.slider .number:focus {
    outline: solid rgb(var(--primary)) 2px;
}

@media (min-width: 500px) or (pointer: fine) {
    .content {
        margin-top: calc(var(--nav-height) + var(--body-margins));
        margin-bottom: 0;
    }
}
