.overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    direction: ltr;
    background-color: #000000c0;
    padding: 5px;
}

.content {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.content > * {
    pointer-events: initial;
}

.overlay.open {
    display: block;
}

.close {
    position: absolute;
    top: var(--body-margins);
    left: var(--body-margins);
    padding: 1rem;
}

.slider {
    grid-area: slider;
    display: grid;
    grid-template-areas:
        'range range'
        'title options';
    background-color: #313131e5;
    color: rgba(255, 255, 255, 90%);
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    position: absolute;
    bottom: 0rem;
    width: 100%;
    z-index: -1;
    padding: 0 var(--body-margins) var(--body-margins) var(--body-margins);
    align-items: center;
}

.slider .range {
    position: relative;
    margin: 0 -1rem 0.5rem -1rem;
    grid-area: range;
    --percent: calc(
        (var(--value) - var(--min, 0)) / (var(--max) - var(--min, 0)) * 100%
    );

    left: 0;
    right: 0;
    height: 0.5rem;
    background: linear-gradient(
        to right,
        rgb(var(--primary)) 0%,
        rgb(var(--primary)) var(--percent),
        #fff var(--percent),
        #fff 100%
    );
}
.rtl .slider .range {
    direction: rtl;
    background: linear-gradient(
        to left,
        rgb(var(--primary)) 0%,
        rgb(var(--primary)) var(--percent),
        #fff var(--percent),
        #fff 100%
    );
}

.range::-webkit-slider-thumb,
.range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    all: unset;
    width: 1.5rem;
    height: 1.5rem;
    background: rgb(var(--primary));
    cursor: pointer;
    border-radius: 50%;
}

.slider .number {
    width: 4.5rem;
    background-color: rgb(var(--surface));
    color: rgb(var(--text-on-surface));
    padding: 0.125rem 0.25rem;
    border-radius: var(--border-radius-small);
}
.slider .number:focus {
    outline: solid rgb(var(--primary)) 2px;
}

.title {
    grid-area: title;
    overflow: hidden;
}
.title .book,
.title .series {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}
.title .series:hover {
    text-decoration: underline;
    cursor: pointer;
}

.title .book {
    color: rgba(255, 255, 255, 70%);
}

.options {
    grid-area: options;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-self: flex-end;
}

.pageCount {
    color: rgba(255, 255, 255, 60%);
}
.pageNumber {
    white-space: nowrap;
}
