html {
    background-color: rgb(var(--background));
    color: rgb(var(--text-on-background));
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: var(--body-margins);
    margin-bottom: calc(var(--nav-height) + var(--body-margins) * 2);
    min-height: calc(100vh - 150px);
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(var(--surface), 0.75);
    color: rgb(var(--text-on-surface));
    box-shadow: var(--surface-box-shadow);
    z-index: 100;
    backdrop-filter: blur(10px);
    margin: var(--body-margins);
    border-radius: var(--border-radius-large);
    height: var(--nav-height);
    overflow: hidden;
}

.nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    height: 100%;
}

.nav li {
    flex-grow: 1;
    height: 100%;
}

.nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: inherit;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: 100%;
}

.nav a:focus-visible {
    background-color: rgb(var(--text-on-surface), 0.1);
}

.logo {
    display: none;
}

.icon {
    height: 2rem;
    width: 100%;
}

.label {
    display: none;
    font-size: 0.75em;
}

.empty {
    width: 15em;
    max-width: 90%;
    height: 1.5em;
    border-radius: 1.5em;
    background-color: rgb(var(--light-text));
}

.settings {
    display: none;
}

@media (min-width: 600px) or (pointer: fine) {
    body {
        margin-top: calc(var(--nav-height) + var(--body-margins) * 2);
        margin-bottom: 0;
    }

    .nav {
        bottom: initial;
        top: 0;
    }
    .nav ul {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }
    .nav li {
        flex-grow: initial;
    }
    .nav a {
        padding: 10px;
    }

    .logo {
        display: block;
    }
    .logo a {
        padding: 5px;
    }
    .logo img {
        aspect-ratio: 1;
        height: 100%;
    }

    .icon {
        display: none;
    }

    .label {
        display: block;
        font-size: 1em;
    }
    .settings {
        display: block;
    }
}
