.tabContainer {
    display: flex;
    flex-direction: column;
}

.tabButtonList {
    display: flex;
}
.tabButton {
    border: none;
    z-index: 2;
    padding: 4px 10px;
    border-radius: var(--border-radius-small);
    margin: 4px;
    background: none;
    color: inherit;
}
.active {
    background-color: rgb(var(--default-button));
    color: rgb(var(--default-button-text));
    position: relative;
}

.activeTab {
}
