.controller {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
}

.alert {
    padding: 5px 10px;

    background-color: rgba(var(--surface), 0.75);
    color: rgb(var(--text-on-surface));
    box-shadow: var(--surface-box-shadow);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius-large);
}

.options {
    float: right;
}
.option {
    background: none;
    border: none;
    color: rgba(var(--text-on-surface), 0.5);
    padding: 0 0 0 1ch;
    margin: 0;
    font-size: inherit;
}
.option:last-child {
    background: none;
    border: none;
    color: rgb(var(--primary));
    padding: 0 0 0 1ch;
    margin: 0;
    font-size: inherit;
}

@media (min-width: 500px) or (pointer: fine) {
    .controller {
        flex-direction: column-reverse;
        top: unset;
        top: 50px;
        left: unset;
        right: 0;
        width: 300px;
        max-width: calc(100vw - 35px);
    }
}
