.formElement {
    display: block;
    margin: 10px 0;
}

.hasErrors {
    background-color: rgba(var(--error-text), 0.1);
}

.title {
    display: block;
    color: rgba(var(--text-on-background), 0.75);
    font-size: 0.9em;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: rgb(var(--text-on-background));
    background-color: rgba(var(--text-on-background), 0);
    border-bottom: solid 1px rgba(var(--text-on-background), 0.8);

    transition: background var(--transition-time);
}

.inputWrapper:has(:disabled) {
    color: rgba(var(--text-on-background), 0.5);
    background-color: rgba(var(--text-on-background), 0.1);
}

.loading .formElement {
    background-color: rgba(var(--text-on-background), 0.1);
    color: rgba(0, 0, 0, 0);
}

.input {
    width: 100%;
    padding: 10px;
    flex-grow: 1;
}

.inputWrapper:focus-within {
    outline: none;
    background-color: rgba(var(--text-on-background), 0.1);
}

.errors {
    color: rgb(var(--error-text));
    float: right;
}

.extras {
    display: flex;
    align-items: center;
}
