.formElement {
    display: block;
    margin: 10px 0;
}

.hasErrors {
    background-color: rgba(var(--error-text), 0.1);
}

.title {
    display: block;
}

.formElement > :last-child {
    display: block;
    width: 100%;
}

.errors {
    color: rgb(var(--error-text));
    float: right;
}
