.pageList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
    gap: 10px;
}

.pageList.longStrip {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
}

.spread {
    display: flex;
    background-color: rgb(var(--background));
    color: rgb(var(--text-on-background));
    box-shadow: var(--background-box-shadow);
    border-radius: var(--border-radius-small);
    padding: 5px;
}

.rtl .spread {
    direction: rtl;
}
.rtl .spread > * {
    direction: ltr;
}

.page {
    flex-grow: 1;
}

.page:nth-child(1) .index {
    float: left;
}
.page:nth-child(2) .index {
    float: right;
}
.page:nth-child(1) img {
    object-position: right;
}
.page:nth-child(1):last-child img {
    object-position: center;
}
.page:nth-child(2) img {
    object-position: left;
}

.rtl .page:nth-child(1) .index {
    float: right;
}
.rtl .page:nth-child(2) .index {
    float: left;
}
.rtl .page:nth-child(1) img {
    object-position: left;
}
.rtl .page:nth-child(1):last-child img {
    object-position: center;
}
.rtl .page:nth-child(2) img {
    object-position: right;
}

.page img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.pageTypeSelect {
    width: 100%;
}
.tabs {
    /* max-height: calc(100vh - 290px); */
}
